.color {
	width: 150px;
	display: inline-block;
	text-align: center;
	padding: 20px 0;
	margin-right: 10px;
	margin-bottom: 10px;
	color: white;
	border: 1px solid transparent;
	&-clouds {
		color: black;
		border: 1px solid silver;
		background: @colorClouds;
	}
	&-turquoise {
		background: @colorTurquoise;
	}
	&-emerald {
		background: @colorEmerald;
	}
	&-sky {
		background: @colorSky;
	}
	&-amethyst {
		background: @colorAmethyst;
	}
	&-asphalt {
		background: @colorApshalt;
	}
	&-orange {
		background: @colorOrange;
	}
	&-rose {
		background: @colorLava;
	}
	&-concrete {
		background: @colorConcrete;
	}
}
