<table class="{{classes}}">
	<thead>
		<tr>
			<th>First name</th>
			<th>Last name name</th>
			<th>Username</th>
			<th>Points</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Bill</td>
			<td>Gates</td>
			<td>bill.gates</td>
			<td>16</td>
		</tr>
		<tr>
			<td>Steve</td>
			<td>Jobs</td>
			<td>steve.jobs</td>
			<td>14</td>
		</tr>
		<tr>
			<td>Tim</td>
			<td>Berners-Lee</td>
			<td>tim.bernersless</td>
			<td>28</td>
		</tr>
	</tbody>
</table>